{
    "extends": "standard",
    "rules": {
        "semi": [2, "always"],
        "no-trailing-spaces": ["error", { "skipBlankLines": true }],
        "padded-blocks": ["error", "always"],
        "no-console": "error"
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jquery": true
    }
}